---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    {% if page.title != 'index' %}
        {% include head.html %}
    {% else %}
        {% include index_head.html %}
    {% endif %}

<body id="page-top" class="landing-page">

    {% if page.title != 'index' %}
        {% include blog_header.html %}
    {% endif %}

    {{ content }}

    {% if page.title != 'index' %}
        {% include foot.html %}
    {% else %}
        {% include index_foot.html %}
    {% endif %}

</body>
<head>
    <!-- Begin section for dataframe table formatting -->
    <style type="text/css">
    table.dataframe {
        width: 100%;
        height: 240px;
        display: block;
        overflow: auto;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
    table.dataframe th {
      font-weight: bold;
      padding: 4px;
    }
    table.dataframe td {
      padding: 4px;
    }
    table.dataframe tr:hover {
      background: #b8d1f3; 
    }
    </style>
    <!-- End section for dataframe table formatting -->
  </head>    
    
</html>
